@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Marcellus&display=swap");

:root {
  --font-family: "Gideon Roman", cursive;

  --gradient-text: linear-gradient(89.97deg, #b3b3b3 1.84%, #707070 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #808080 -13.86%, #464646 99.55%);

  --color-bg: #1d1d1d;
  --color-footer: #353535;
  --color-blog: #414141;
  --color-text: #b1c9e0;
  --color-subtext: #a1a1a1;
}
